{% use 'tailwind_2_layout.html.twig' %}

{%- block form_start -%}
<div class="flex justify-center items-center">
    <div class="bg-gray-100 w-full max-w-xl shadow-md rounded px-8 pt-6 pb-8 mb-4">
        {{- parent() -}}
        {%- endblock form_start -%}

        {%- block form_end -%}
        {{- parent() -}}
    </div>
</div>
{%- endblock form_end -%}

{%- block form_row -%}
    {%- set row_attr = row_attr|merge({ class: row_attr.class|default(row_class|default('mb-6')) }) -%}
    {{- parent() -}}
{%- endblock form_row -%}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        <ul>
            {%- for error in errors -%}
                <li class="{{ error_item_class|default('text-red-700') }}">{{ error.message }}</li>
            {%- endfor -%}
        </ul>
    {%- endif -%}
{%- endblock form_errors -%}

{%- block widget_attributes -%}
    {%- set attr = attr|merge({ class: attr.class|default(widget_class|default('mt-1 w-full rounded w-full py-2 px-3 text-gray-700 leading-tight focus:ring-2 focus:ring-blue-600')) ~ (disabled ? ' ' ~ widget_disabled_class|default('border-gray-300 text-gray-500')) ~ (errors|length ? ' ' ~ widget_errors_class|default('border-red-700')) }) -%}
    {{- parent() -}}
{%- endblock widget_attributes -%}

{%- block form_label -%}
    {%- set label_attr = label_attr|merge({ class: label_attr.class|default(label_class|default('block text-gray-700 text-sm font-bold mb-2')) }) -%}
    {{- parent() -}}
{%- endblock form_label -%}

{%- block checkbox_widget -%}
    {%- set widget_class = widget_class|default('w-5 h-5 rounded accent-green-500 mr-2 mb-2') -%}
    {{- parent() -}}
{%- endblock checkbox_widget -%}

{%- block button_widget -%}
    <button type="{{ type|default('button') }}" {{ block('button_attributes') }}
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
        {%- if translation_domain is same as(false) -%}
            {%- if label_html is same as(false) -%}
                {{- label -}}
            {%- else -%}
                {{- label|raw -}}
            {%- endif -%}
        {%- else -%}
            {%- if label_html is same as(false) -%}
                {{- label|trans(label_translation_parameters, translation_domain) -}}
            {%- else -%}
                {{- label|trans(label_translation_parameters, translation_domain)|raw -}}
            {%- endif -%}
        {%- endif -%}
    </button>
{%- endblock button_widget -%}
