{% extends 'base.html.twig' %}
{% block title %}{{ 'actions.edit'|trans({'%entity%': 'labels.home'|trans}) }}{% endblock %}
{% block body %}
    <h1>{{ 'actions.edit'|trans({'%entity%': 'labels.home'|trans}) }}</h1>

    {{ form(edit_home_form) }}

    <a href="{{ path('home_list') }}">{{ 'actions.cancel'|trans({'%entity%': 'labels.home'|trans}) }}</a>
{% endblock %}
