{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('user_list') }}" class="btn btn-primary">{{ 'buttons.go_to'|trans({'%entity%': 'labels.users'|trans}) }}</a>

    <h1>{{ 'list'|trans }} {{ 'labels.homes'|trans }}</h1>

    <a href="{{ path('home_create') }}" class="btn btn-primary">{{ 'actions.create'|trans({'%entity%': 'labels.home'|trans}) }}</a>

    {% include 'home/_home_list.html.twig' with {'homes': homes, 'show_details_edit_remove_buttons': true} %}

    <form action="{{ path('home_list') }}">
        <label>
            <select name="limit" onchange="this.form.submit()">
                <option value="5" {% if limit == 5 %}selected{% endif %}>5</option>
                <option value="10" {% if limit == 10 %}selected{% endif %}>10</option>
                <option value="20" {% if limit == 20 %}selected{% endif %}>20</option>
            </select>
        </label>
    </form>

    {% if pages_count > 1 %}
        <div class="pagination">
            {% if current_page > 1 %}
                <a href="{{ path('home_list', {'page': current_page - 1, 'limit': limit}) }}">{{ 'pagination.previous'|trans }}</a>
            {% endif %}
            {% for page in 1..pages_count %}
                {% if page == current_page %}
                    <span>{{ page }}</span>
                {% else %}
                    <a href="{{ path('home_list', {'page': page, 'limit': limit}) }}">{{ page }}</a>
                {% endif %}
            {% endfor %}
            {% if current_page < pages_count %}
                <a href="{{ path('home_list', {'page': current_page + 1, 'limit': limit}) }}">{{ 'pagination.next'|trans }}</a>
            {% endif %}
        </div>
    {% endif %}

    <a href="{{ path('deleted_homes') }}" class="btn btn-primary">{{ 'buttons.go_to_deleted'|trans({'%entity%': 'labels.home'|trans}) }}</a>

    {% for message in app.flashes('success') %}
        <div class="flash-notice">{{ message|trans }}</div>
    {% endfor %}
{% endblock %}
