{% extends 'base.html.twig' %}
{% block title %}{{ 'actions.show'|trans({'%entity%': 'labels.user'|trans}) }}{% endblock %}
{% block body %}
    <h1>{{ 'actions.show'|trans({'%entity%': 'labels.user'|trans}) }}</h1>

    <table>
        <tr>
            <th>{{ 'user.first_name'|trans }}</th>
            <td>{{ user.firstName }}</td>
        </tr>
        <tr>
            <th>{{ 'user.last_name'|trans }}</th>
            <td>{{ user.lastName }}</td>
        </tr>
        <tr>
            <th>{{ 'user.email'|trans }}</th>
            <td>{{ user.email|default('N/A') }}</td>
        </tr>
    </table>

    <a href="{{ path('user_list') }}">{{ 'buttons.return'|trans({'%entity%': 'labels.users'|trans}) }}</a>

    {% for message in app.flashes('success') %}
        <div class="flash-notice">{{ message|trans }}</div>
    {% endfor %}
{% endblock %}
