{% extends 'base.html.twig' %}
{% block title %}{{ 'actions.show'|trans({'%entity%': 'labels.user'|trans}) }}{% endblock %}
{% block body %}
    <section>
        {% include '_layout/page_title.html.twig' with {'page_title': 'actions.show'|trans({'%entity%': 'labels.user'|trans}) } %}
    </section>

    <strong>Updated At: </strong><code>{{ user.updatedAt|date('Y-m-d H:i:s') }}</code>

    <section class="my-4">
        <table>
            <tr class="bg-white">
                <th class="text-left border border-gray-300 px-4 py-2">{{ 'user.first_name'|trans }}</th>
                <td class="border border-gray-300 px-4 py-2">{{ user.firstName }}</td>
            </tr>
            <tr class="bg-white">
                <th class="text-left border border-gray-300 px-4 py-2">{{ 'user.last_name'|trans }}</th>
                <td class="border border-gray-300 px-4 py-2">{{ user.lastName }}</td>
            </tr>
            <tr class="bg-white">
                <th class="text-left border border-gray-300 px-4 py-2">{{ 'user.email'|trans }}</th>
                <td class="border border-gray-300 px-4 py-2">{{ user.email|default('N/A') }}</td>
            </tr>
        </table>
    </section>

    {% include '_layout/return_button.html.twig' with {
        'path': path('user_list'),
        'return_button': 'buttons.return'|trans({'%entity%': 'labels.homes'|trans})
    } %}

    <section class="mt-4">
        {% include '_layout/success_flash_messages.html.twig' %}
    </section>

    <section class="mt-4">
        <ul class="bg-gray-100 border border-gray-400 text-blue-500 px-4 rounded">
            {% for message in app.flashes('create-listener') %}
                <li class="my-2 text-green-500">{{ message }}</li>
            {% endfor %}

            {% for message in app.flashes('update-listener') %}
                <li class="my-2 text-yellow-500">{{ message }}</li>
            {% endfor %}

            {% for message in app.flashes('recently-visited-pages') %}
                <li class="my-2">{{ message }}</li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
